extends layout

block content
  h1= title

  div#app

  script(id="latestTipContentTemplate", type="text/x-handlebars")
    {{content}}

  script(id="latestTipTimeTemplate", type="text/x-handlebars")
    {{date}}

  script(id="latestTipTagTemplate", type="text/x-handlebars")
    {{tag}}