extends layout

block content
  div#app

  script(id="latestTipContentTemplate", type="text/x-handlebars")
    {{content}}

  script(id="latestTipTimeTemplate", type="text/x-handlebars")
    {{date}}

  script(id="latestTipTagTemplate", type="text/x-handlebars")
    <a href="#tags/{{tag}}">{{tag}}</a>

  script(id="tagNameTemplate", type="text/x-handlebars")
    {{tag}}