extends layout

block content
  div#app

  script(id="latestTipContentTemplate", type="text/x-handlebars")
    {{content}}

  script(id="latestTipTimeTemplate", type="text/x-handlebars")
    {{date}}

  script(id="latestTipTagTemplate", type="text/x-handlebars")
    <a href="#tags/{{tag}}">{{tag}}</a>

  script(id="tagCreateLinkTemplate", type="text/x-handlebars")
    <a href="#tags/create">&#43;</a>

  script(id="tagCreateFormTemplate", type="text/x-handlebars")
    <label class="line">Content</label>
    <textarea name="content" class="line"></textarea>
    <label class="line">Tag</label>
    <input name="tag" type="text" class="line"/>
    <input type="submit" value="Create" />