extends layout

block content
  div#app

  script(id="latestTipContentTemplate", type="text/x-handlebars")
    {{content}}

  script(id="latestTipTimeTemplate", type="text/x-handlebars")
    {{date}}

  script(id="latestTipTagTemplate", type="text/x-handlebars")
    <a href="#tags/{{tag}}">{{tag}}</a>

  script(id="tagCreateLinkTemplate", type="text/x-handlebars")
    <a href="#tags/create">&#43;</a>

  script(id="tagCreateFormTemplate", type="text/x-handlebars")
      <label class="line margin-top-16px">Content</label>
      <textarea name="content" class="line margin-top-16px tip rounded"></textarea>
      <label class="line margin-top-16px">Tag</label>
      <input name="tag" type="text" class="line margin-top-16px tag rounded"/>
      <input type="submit" value="Create" class="line margin-top-16px rounded submit" />