extends layout

block content
  div#app
  script(id="commentTemplate", type="text/x-handlebars")
    {{content}}
  script(id="commentButtonTemplate", type="text/x-handlebars")
    <a href="#tags/comments/create/{{postId}}" class="commentButton">comment</a>
  script(id="commentCreateFormTemplate" type="text/x-handlebars")
    <label class="line margin-top-16px label">Comment</label>
    <textarea name="content" pattern=".{128,}" required tile="Minimum is 128 characters" class="line margin-top-16px tip rounded input"></textarea>
    <input type="hidden" name="postId" value="{{postId}}" />
    <input type="hidden" name="userId" value="{{userId}}" />
    <input type="submit" value="Create" class="line margin-top-16px rounded submit" />

  script(id="searchFieldTemplate", type="text/x-handlebars")
    <input type="text" name="search" placeholder="look up something..." class="input rounded padding-16px" />
  script(id="latestTipCommentsTemplate", type="text/x-handlebars")
    <a href="#/tags/comments/{{_id}}" class="commentsButton">comments</a>
  script(id="latestTipContentTemplate", type="text/x-handlebars")
    {{content}}
  script(id="latestTipReportTemplate", type="text/x-handlebars")
    <a href="#" class="reportButton">report</a>
  script(id="latestTipSearchTemplate", type="text/x-handlebars")
    <a href="#/tags/search" class="searchButton">search</a>
  script(id="latestTipTagTemplate", type="text/x-handlebars")
    <a href="#tags/{{tag}}" class="tagButton">{{tag}}</a>
  script(id="latestTipTimeTemplate", type="text/x-handlebars")
    {{date}}
  script(id="loggedinStripTemplate", type="text/x-handlebars")
    span(class="welcome margin-right-8px") Welcome
    span(class="email margin-right-32px") {{email}}
    span(class="stipButton")
      <a href="#" class="tagButton">Sign out</a>
  script(id="loginFormTemplate", type="text/x-handlebars")
    <input type="text" name="email" class="input tag padding-16px rounded" placeholder="email" />
    <input type="password" name="password" class="input tag padding-16px rounded" placeholder="password" />
    <input type="submit" name="submit" class="submit rounded" value="Sign in / register" />
  script(id="tagCreateFormTemplate", type="text/x-handlebars")
      <label class="line margin-top-16px label">Content</label>
      <textarea name="content" pattern=".{128,}" required tile="Minimum is 128 characters" class="line margin-top-16px tip rounded input"></textarea>
      <label class="line margin-top-16px label">Tag</label>
      <input name="tag" type="text" pattern="^[a-zA-Z0-9-]+$" required title="Only one tag allowed"class="line margin-top-16px tag rounded input"/>
      <input type="submit" value="Create" class="line margin-top-16px rounded submit" />
  script(id="tagCreateLinkTemplate", type="text/x-handlebars")
    <a href="#tags/create" class="tagButton">&#43;</a>