doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/lib/underscore.js', type='text/javascript')
    script(src='/javascripts/lib/zepto.js', type='text/javascript')
    script(src='/javascripts/lib/assure.js', type='text/javascript')
    script(src='/javascripts/lib/backbone.js', type='text/javascript')
    script(src='/javascripts/lib/handlebars.js', type='text/javascript')
    script(src='/javascripts/app.js', type='text/javascript')
    script(src='/javascripts/start.js', type='text/javascript')
