doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/lib/underscore.js', type='text/javascript')
    script(src='/javascripts/lib/zepto.js', type='text/javascript')
    script(src='/javascripts/lib/assure.js', type='text/javascript')
    script(src='/javascripts/lib/backbone.js', type='text/javascript')
    script(src='/javascripts/lib/markdown.js', type='text/javascript')
    script(src='/javascripts/lib/handlebars.js', type='text/javascript')
    script(src='/javascripts/controlPanel.js', type='text/javascript')
    script(src='/javascripts/models/modelTip.js', type='text/javascript')
    script(src='/javascripts/collections/collectionTips.js', type='text/javascript')
    script(src='/javascripts/views/view.js', type='text/javascript')
    script(src='/javascripts/views/viewTagTips.js', type='text/javascript')
    script(src='/javascripts/views/viewTip.js', type='text/javascript')
    script(src='/javascripts/views/viewLatestTip.js', type='text/javascript')
    script(src='/javascripts/views/viewTagCreateForm.js', type='text/javascript')
    script(src='/javascripts/views/viewTagCreateLink.js', type='text/javascript')
    script(src='/javascripts/views/viewTagNames.js', type='text/javascript')
    script(src='/javascripts/views/viewTagName.js', type='text/javascript')
    script(src='/javascripts/views/viewLatestTipTag.js', type='text/javascript')
    script(src='/javascripts/views/viewLatestTipReport.js', type='text/javascript')
    script(src='/javascripts/views/viewLatestTipButtons.js', type='text/javascript')
    script(src='/javascripts/views/viewLatestTipTime.js', type='text/javascript')
    script(src='/javascripts/views/viewLatestTipContent.js', type='text/javascript')
    script(src='/javascripts/options/options.js', type='text/javascript')
    script(src='/javascripts/options/optionsTipsController.js', type='text/javascript')
    script(src='/javascripts/controllers/controllerTips.js', type='text/javascript')
    script(src='/javascripts/router.js', type='text/javascript')
    script(src='/javascripts/start.js', type='text/javascript')
