  script(id="loginFormTemplate", type="text/x-handlebars")
    <input type="text" name="email" class="input tag padding-16px rounded" placeholder="email" />
    <input type="password" name="password" class="input tag padding-16px rounded" placeholder="password" />
    <input type="submit" name="submit" class="submit rounded" value="Sign in" />