  script(id="loggedinStripTemplate", type="text/x-handlebars")
    span(class="welcome margin-right-8px") Welcome
    span(class="email margin-right-32px") {{email}}
    span(class="stipButton")
      <a href="#" class="tagButton">Sign out</a>