  script(id="loginFormTemplate", type="text/x-handlebars")
    <input type="text" name="email" />
    <input type="password" name="password" />
    <input type="submit" name="submit" value="Sign in" />