body
  background-color #774F38
  color #C5E0DC
  font-family "Lucida Console", Monaco, monospace
a
  display inline-block
  text-decoration none
  color #E08E79
  background-color #e08e79
  border none
  padding 16px 16px 16px 16px
  color #fff
  font-weight bolder
  font-size 15px
  border-radius 8px
  min-width 64px
.margin-top-16px
  margin-top 16px
.margin-top-64px
  margin-top 64px
.line
  display block
  text-align left
.centre
  display inline-block
  width 960px
.rounded
  border-radius 8px
.tip
  width 960px
  height 720px
.tag
  width 240px
.submit
  background-color #E08E79
  border none
  padding 16px 16px 16px 16px
  color #fff
  font-weight bolder
  font-size 15px
#app
  text-align center
.lineList
  list-style-type none
  display inline
  margin-left 16px
