body
  background-color #774F38
  color #C5E0DC
.margin-top-16px
  margin-top 16px
.margin-top-64px
  margin-top 64px
.line
  display block
  text-align left
.centre
  display inline-block
  width 960px
.tip
  width 960px
  height 720px
.tag
  width 240px
#app
  text-align center
.lineList
  list-style-type none
  display inline
  margin-left 16px
