.line {
  margin-top: 64px;
  text-align: left;
}
.centre {
  display: inline-block;
  width: 960px;
}
#app {
  text-align: center;
}
.lineList {
  list-style-type: none;
  display: inline;
  margin-left: 16px;
}
